* {
  background-color: gray;
}

textarea {
  width: 400px;
  height: 100px;
  background-color: #fff;
  resize: none;
}

button {
  width: 100px;
  height: 30px;
  background-color: #282828;
  border: none;
  color: white;
  font-family: arial;
  font-weight: 400;
  cursor: pointer;
  margin-bottom: 60px;
}

.comment-box {
  width: 815px;
  padding: 20px;
  margin-bottom: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: relative;
}

.comment-box p {
  font-family: arial;
  font-size: 14px;
  line-height: 16px;
  color: #282828;
  font-weight: 100;
}

.edit-form {
  position: relative;
  top: 0px;
  right: 0px;
}

.edit-form button {
  width: 20px;
  height: 10px;
  color: #282828;
  background-color: #fff;
  opacity: 0.7;
}

.edit-form button:hover {
  opacity: 1;
}